.HomeComponentContainer .HomeComponentFirstLayer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.HomeComponentContainer .HomeComponentFirstLayer .ProfileComponent{
    /* position: absolute; */
    right: 1vw;
    top: 10vh;
    transform: translateX(30vw);
    opacity: 0;
    animation:profileSlideIn 1.5s forwards;
}

@keyframes profileSlideIn {
    to{
        opacity: 1;
        transform: translateX(0);
    }
}