.signup-container {
    display: flex;
    flex-direction: column; /* Allow the button container and form to stack vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/public/images/img-5.jpg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    position: relative;
}

.icon-container {
    position: absolute;
    top: 20px; /* Adjust position as needed */
    width: 100%;
    text-align: center;
    z-index: 10; /* Ensure it is above the form */
}

.icon-container img {
    max-width: 150px; /* Adjust size as needed */
    border-radius: 50%; /* Optional: if you want a circular image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: for some shadow effect */
    margin-left: 31em;
    margin-top: 86px;
}

.signup-buttons {
    margin-bottom: 20px; /* Space between buttons and the form */
    position: relative;
    left: 16.5vw;
}

.signup-buttons .btn {
    margin: 0 10px; /* Space between buttons */
    background-color: blueviolet;
    color: white;
    border:none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.signup-buttons .btn:hover{
    background-color: darkviolet;
    transform: translateY(-1px);
}

.signup-form {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    opacity: 0.9; /* Adjust overall transparency */
    margin-top: 20px; /* Space from buttons */
    margin-left: 31em; /* Center the form, adjust as needed */
}

.btn-pink-moon {
    background: #ec008c;  /* fallback for old browsers */
    background-color: blueviolet;
    color: #fff;
    border: 3px solid #eee;
    width: 100%; /* Make the button take the full width of the form */
}

.alert {
    margin-top: 15px;
}
